<div class="main-container">
<h2>スケジュール詳細</h2>
 <table>
  <tr>
   <th>タイトル</th>
   <td><%= @task.title %></td>
  </tr>
  <tr>
   <th>開始日時</th>
   <td><%= @task.start_date.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
  <tr>
   <th>終了日時</th>
   <td><%= @task.start_end.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
  <tr>
   <th>スケジュールメモ</th>
   <td><%= @task.description %></td>
  </tr>
</table>
 
<div>
 <ul>
  <li><%= link_to "スケジュール一覧に戻る", :tasks %></li>
 </ul>
</div>
</div>